#switcher {
    position: fixed;
    right: 0;
    padding: 5px 10px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    font-size: 25px;
}