.ticket {
    position: fixed;
    bottom: 0px;
    margin: 10px;
    background-color: #ecf0f1;
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    width: 250px;
}

.ticket__header {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    background-color: #0984e3;
    color: #ecf0f1;
    padding: 5px 10px;
}

.ticket__header .icon {
    flex: 0 0 25px;
    font-size: 20px;
}

.ticket__header span {
    flex: 1 1 auto;
}

.ticket__body {
    flex: 0 0 auto;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket__body .progress {
    flex: 0 1 auto;
    display: flex;
    width: 200px;
}