@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Poppins');
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2d3436;
}

#app, #render {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#render {
    z-index: 1;
}

#ui {
    z-index: 2;
}

.hide {
    display: none !important;
}

@import "./_intromodal.css";
@import "./_switcher.css";
@import "./_status.css";
@import "./_lives.css";
@import "./_tickets.css";
@import "./_progress.css";
@import "./_qrmodal.css";
@import "./_deathmodal.css";